apispec==6.6.1
blinker==1.8.2
# Bottleneck @ file:///croot/bottleneck_1707864210935/work
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
# click @ file:///croot/click_1698129812380/work
# colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cryptography==42.0.7
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==4.0.1
flask-smorest==0.44.0
fpdf==1.7.2
google-api-core==2.19.0
google-api-python-client==2.129.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn

httplib2==0.22.0
idna==3.7
itsdangerous==2.2.0
# Jinja2 @ file:///croot/jinja2_1706733616596/work
# jsons @ file:///home/conda/feedstock_root/build_artifacts/jsons_1654821024619/work
jwt==1.3.1
# MarkupSafe @ file:///croot/markupsafe_1704205993651/work
marshmallow==3.21.2
# mkl-fft @ file:///croot/mkl_fft_1695058164594/work
# mkl-random @ file:///croot/mkl_random_1695059800811/work
# mkl-service==2.4.0
msgpack==1.0.8
# numexpr @ file:///croot/numexpr_1696515281613/work
numpy==1.23.0
# numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=d8cd837ed43e87f77e6efaa08e8de927ca030a1c9c5d04624432d6fb9a74a5ee
# opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
packaging==24.0
# pandas @ file:///croot/pandas_1709590491089/work/dist/pandas-2.2.1-cp310-cp310-linux_x86_64.whl#sha256=af0f237a7f090add6f15eb4b5d0fd2d9d8ded4cfe6979b18563580353c113c9f
pillow==10.3.0
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
# PyJWT @ file:///croot/pyjwt_1715094751094/work
pyparsing==3.1.2
PyPDF2==3.0.1
# pypng @ file:///home/conda/feedstock_root/build_artifacts/pypng_1657927854370/work
# python-dateutil @ file:///croot/python-dateutil_1715108784345/work
# pytz @ file:///croot/pytz_1713974312559/work
pyzbar==0.1.8
qrcode==8.0
requests==2.31.0
rsa==4.9
# six @ file:///tmp/build/80754af9/six_1644875935023/work
# typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1712329955671/work
# typish @ file:///home/conda/feedstock_root/build_artifacts/typish_1628254486386/work
# tzdata @ file:///croot/python-tzdata_1690578112552/work
uritemplate==4.1.1
urllib3==2.2.1
webargs==8.4.0
Werkzeug==3.0.3
